# ツリー型AIチャット

## 使用技術
- TypeScript
    - 型はtypeを使って定義する
- Mantine v8
    - Mantine v6の古い記法を使わないように注意する
- Next(Page Router)
- TanStack Query
    - データのポストにはmutationを使用する
- Gemini API

## 機能
- 基本的にはChatGPTのようなチャットUI
- LLMのメッセージごとに返信アイコンがありそれをクリックするとチャットが分岐する
- デフォルトでは今表示されているチャットの最新のメッセージに対する返信になる
- チャットはツリー構造で管理される
- いったんバックエンドでの保存機能はなし
- 過去のユーザーのメッセージには編集アイコンがありそれをクリックすると編集して再送信できる、そのときもチャットは分岐する
- チャットのツリー構造はサイドバーで管理する

